.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-list{
    background-color: transparent;
}
ion-checkbox{
    background-color: transparent;
}
ion-item{
    background-color: transparent;
}